@use '../mixins/fluid-size' as size;

/* container */
.container {
    position: relative;
	max-width: var(--content-width);
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 0;
	padding-inline: var(--space);
    
    &.fluid {
        max-width: none;
    }

    &.article-width {
        max-width: var(--article-width);
    }
    
    /* контейнер в шапке на флексах */
    .header & {
        flex: auto;
        width: 100%;
    }

}
